<!DOCTYPE html>
<html> 
    <head>
        <body>
            <h1 align="center"> Flight Delay Predictor </h1>  
            <div align="center">
                <form method="POST" autocomplete="off">
                    <label for="schedtime"> Scheduled Time  </label> <br>
                    <input type="text" id="schedtime " name="schedtime"> <br><br>
                    
                    <label for="carrier"> Carrier Number </label> <br>
                    <input type="text" id="carrier" name="carrier"> <br><br>
                    
                    <label for="distance"> Distance  </label> <br>
                    <input type="text" id="distance" name="distance"> <br><br>

                    <label for="flightnum"> Flight Number</label> <br>
                    <input type="text" id="flightnum" name="flightnum"></input> <br><br>
                    
                    <label for="weather"> Weather </label><br>
                    <input type="text" id="weather" name="weather"></input><br><br>

                    <label for="dayweek"> Day of Week  </label> <br>
                    <input type="text" id="dayweek" name="dayweek"> <br><br>

                    <label for="daymonth"> Day of Month  </label> <br>
                    <input type="text" id="daymonth" name="daymonth"> <br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>  


        </body>
    </head>
</html>


